/*#region Header */
.companyName {
    background-color: indianred;
    color: white;
    font-size: 2.3em;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    padding-left: 2px;
    margin-bottom: 0;
}

.slogan {
    font-style: italic;
    font-size: 1.1em;
    background-color: indianred;
    text-align: left;
    color: white;
    margin-top: 0;
    padding-left: 2px;
}

#header {
    background-color: indianred;
    padding-bottom: 12px;
    padding-top: 12px;

}

.icon{
    font-size: 1.5em;
    color: white;
    padding-left: 45px;
}

#header img {
    background-color: indianred;
    height: 80px;
    width: 80px;
    margin: 8px 0 8px 8px;
    padding-right: 0;
}
/*#endregion */

/*#region Index */
#aboutUs {
    background-color: #F0ECE3;
    font-size: 1.5em;
}

#aboutUs img{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px;
}

#aboutUs a{
    text-decoration: none;
}

    #aboutUs i.face {
        color: #4267B2;
    }
    #aboutUs a{
        margin-left: 1em;
        text-align: center;
    }

    #aboutUs i.twitter {
        color: #1DA1F2;
    }

    #aboutUs i.linkedin {
        color: #0072b1;
    }

#aboutUs h3{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: indianred;
}
    /*#endregion */

/*#region Contact Us*/
    #contactUs {
        background-color: floralwhite;
        grid-auto-rows: auto;
        text-align: center;
        margin-bottom: 6px;
    }

#contactUs h3 {
    font-size: 1.5em;
}

ul.contact {
    display: inline-grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

    ul.contact li {
        font-size: 1.3em;
        list-style: none;
        border: groove;
        padding: 0;
    }

        ul.contact li a {
            text-decoration: none;
        }

/*Lightbox styling*/
.thumb {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

#lightbox-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8); /*gives the picture a tranparent black background, making it look pulled forward*/
    padding-top: 65px;
    display: none;
}

#lightbox-content img {
    border: 10px solid gray;
    margin: auto;
}
/*#endregion*/

/*#region Navbar*/
nav ul {
    text-align: left;
    padding-left: 0;
}

nav{
    display: inline-block;
    margin-top: 7px;
    width: 33%;
    padding-left: 1em;
}

nav ul li {
display: inline-block;
font-size: 1.4em;
}

    nav.active a:hover, nav.active a:active, nav a:focus {
        text-decoration: none;
        background-color: indianred;
    }

nav a {
    font-weight: bold;
    color: indianred;
    text-decoration: none;
}

.nav-pills > li.active > a{
    background-color: indianred;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: indianred;
    color: white;
}
/*#endregion*/


div.classTopic {
    border: groove 1px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 20%;
    height: 100%;
}

.classImage {
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    height: 180px;
    width: 60%;
    display: block;
}

div.classTopic p{
    display: inline-block;
    padding: 5px;
}



